
<div class="header-flex page-width">
  {{ section.settings.logo-header |image_url: width: 150 | image_tag: class: 'logo-img' }}
  <a class="hiw" href="#">How It Works</a>
  <a class="sc" href="#">Shop Checklists</a>
  <a class=" cbs custom-button_solid" href="{{ section.settings.button_url-hd }}">{{ section.settings.button-hd }}</a>
  
    <ul class="main-menu-hd">
  {% for links in section.settings.menu_links.links %}
      <li class="menu-list-hd">
         {{ links.title | link_to: links.url }}
      </li>
  {% endfor %}
    </ul>
  
</div>

<style>
  
.logo-img{
    grid-area: ll;
}
  
.cbs{
    grid-area: cbs;
}
  
.hiw{
    grid-area: sc;
}
  
.sc{
    grid-area: hiw;
}

.menu-list-hd{
    gris-area: ml;
}
.header-flex.page-width {
    display: grid;
    grid-template-areas:  'll sc hiw cbs'
                          'ml ml ml ml';
}
</style>

{% schema %}
{
  "name": "Header Custom",
  "tag": "header",
  "class": "header-cust",
  "settings": [
    {
      "type": "image_picker",
      "label": "Logo",
      "id": "logo-header"
    },
    {
      "type": "link_list",
      "label": "Menu Links",
      "id": "menu_links"
    },
    {
      "type": "text",
      "label": "Button",
      "id": "button-hd",
      "default": "Sign Up"
    },
    {
      "type": "url",
      "label": "Button url",
      "id": "button_url-hd"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Header Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}