
<div class="header-flex page-width">
  {{ section.settings.logo-header |image_url: width: 150 | image_tag: class: 'logo-img' }}
  <a class="custom-button_solid" href="{{ section.settings.button_url-hd }}">{{ section.settings.button-hd }}</a>
  
  {% for links in section.settings.menu_links.links %}
    <ul class="main-menu-hd">
      <li class="menu-list-hd">
         {{ links.title | link_to: links.url }}
                <a href="#">
          {% render 'icon' %}
        </a>
      </li>
    </ul>
  {% endfor %}
  
</div>


{% schema %}
{
  "name": "Header Custom",
  "tag": "header",
  "class": "header-cust",
  "settings": [
    {
      "type": "image_picker",
      "label": "Logo",
      "id": "logo-header"
    },
    {
      "type": "link_list",
      "label": "Menu Links",
      "id": "menu_links"
    },
    {
      "type": "text",
      "label": "Button",
      "id": "button-hd",
      "default": "Sign Up"
    },
    {
      "type": "url",
      "label": "Button url",
      "id": "button_url-hd"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Header Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}