/* Image Banner */

.banner a.button.button--primary.button-primary-light-whi  {
    background-color: #ffffff;
    color: #000000;
}

.banner a.button.button--primary.button-secondary-dark-yll {
    background-color: #D8C826;
    box-shadow: none;
    color: #ffffff;
}

.banner .button:after, .shopify-challenge__button:after, .customer button:after, .shopify-payment-button__button--unbranded:after {
    box-shadow: none;
}

/* Multicolumn  */

.multicolumn .title-wrapper-with-link {
  justify-content: center;
}

.multicolumn h2.title.inline-richtext.h1 {
    font-size: 4.8rem;
    padding-bottom: 2rem;
}

.multicolumn .multicolumn-card__image-wrapper.multicolumn-card__image-wrapper--third-width.multicolumn-card-spacing {
    width: 60px;
}

.multicolumn h3.inline-richtext {
    text-align: center;
    font-family: "DM Sans";
    font-size: 2.8rem;
}

.multicolumn .multicolumn-card__info .rte {
    text-align: left;
    color: var(--White, #FFF);
    font-size: 1.7rem;
    line-height: 2.6rem;
}

.multicolumn .rte ul, .rte ol {
    list-style-position: unset;
}