.header-flex.page-width {
    display: grid;
    grid-template-areas: 'hamburger logo navigation'
                         'menu-items menu-items menu-items';
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    align-content: center;
}

.logo-list {
    grid-area: logo;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    flex-direction: row-reverse;
}
  
.list-nav {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    grid-area: navigation;
    list-style: none;
}

.main-menu-hd {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    grid-area: menu-items;
   list-style: none;
    gap: 1.5rem;
}

.hamburger-button {
    grid-area: hamburger;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.link-none {
    display: none;
    outline: none;
}

  @media screen and (min-width: 750px) {

    .header-flex.page-width {
        display: grid;
        grid-template-areas: 'logo navigation'
                             'menu-items menu-items';
        grid-template-columns: 1fr, auto;
        grid-template-columns: repeat(2, 1fr);
    }

    .logo-list {
        flex-direction: row;
        gap: 5rem;
    }

    .hamburger-button {
        display: none;
        grid-area: hamburger;
    }
    .list-nav {
        gap: 3rem;
    }
    .link-none {
        display: unset;
    }

  }