.header-{{ section.id }} .header-flex.page-width {
    display: grid;
    grid-template-areas: 'hamburger logo navigation'
                         'menu-items menu-items menu-items';
    grid-template-columns: repeat(3, auto);
    align-items: center;
    align-content: center;
}

.header-{{ section.id }} .logo-list {
    grid-area: logo;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    flex-direction: row-reverse;
}
  
.header-{{ section.id }} .list-nav {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    grid-area: navigation;
    list-style: none;
    margin: 1rem;
}

.header-{{ section.id }} .logo-img {
  width: 130px;
  height: auto;
}

.header-{{ section.id }} ul.main-menu-hd {
    display: none;
}

.header-{{ section.id }} ul.main-menu-hd.active {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: flex-start;
    align-content: center;
    justify-content: flex-start;    
    grid-area: menu-items;
    list-style: none;
    margin: 0;
    border-top: none;
}

.fade-in-bg { animation: fadeIn 1s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.header-{{ section.id }} .hamburger-button-open {
    grid-area: hamburger;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;  
    width: 25px;
    height: 25px;  
    padding: 0;
}

.header-{{ section.id }} .hamburger-button-close {
    grid-area: hamburger;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;  
    width: 25px;
    height: 25px;
}



.header-{{ section.id }} svg.icon-search {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.header-{{ section.id }} svg.icon-close {
    position: fixed;
    right: 10%;  
    width: 20px;
    height: 20px;
}

.header-{{ section.id }} .link-none {
    display: none;
    outline: none;
}

.header-{{ section.id }} li.menu-list-hd {
    padding: 1rem 0;
    border-bottom: 1px solid #343432;
    width: 100%;
    transition: all ease-in-out .2s;
}

.header-{{ section.id }} li.menu-list-hd:hover {
    background: #f4f4f4;
}

.header-{{ section.id }} li.menu-list-hd:last-child {
    border-bottom: none;
}

.header-{{ section.id }} li.menu-list-hd {
    color: #343432;
    font-family: "DM Sans";
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
}

.header-{{ section.id }} li.menu-list-hd a, .link-none {
    text-decoration: none;
    color: #343432;    
    transition: all ease-in-out .1s;
}

.header-{{ section.id }} li.menu-list-hd a:hover, .link-none:hover {
    text-decoration: underline;
    padding-bottom: .3rem;
    opacity: .85;
}

  @media screen and (min-width: 750px) {

    .header-{{ section.id }} .header-flex.page-width {
        display: grid;
        grid-template-areas: 'logo navigation'
                             'menu-items menu-items';
        grid-template-columns: 1fr, auto;
        grid-template-columns: repeat(2, auto);
    }

    .header-{{ section.id }} .logo-list {
        flex-direction: row;
        gap: 5rem;
    }

    .header-{{ section.id }} ul.main-menu-hd {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: unset;
        justify-content: space-evenly;
        align-content: center;
        grid-area: menu-items;
        border-top: 1px solid #343432;
        list-style: none;
        text-align: center;
        margin: 0;
    }

    .header-{{ section.id }} .logo-img {
      width: 150px;
      height: auto;
    }

    .header-{{ section.id }} .hamburger-button-open {
        display: none;
        grid-area: hamburger;
    }

    .header-{{ section.id }} .list-nav {
        gap: 3rem;
    }

    .header-{{ section.id }} .link-none {
        display: unset;
    }

   .header-{{ section.id }}  svg.icon-close {
        display: none;
    }

    .header-{{ section.id }} li.menu-list-hd {
      border-bottom: none;
      padding: 0.5rem;
    }

  }