.logo-list {
    grid-area: logo;
}
  
.list-nav {
  grid-area: navigation;
}

.main-menu-hd {
    grid-area: menu-items;
}

.hamburger-button {
  grid-area: hamburger;
}

.header-flex.page-width {
    display: grid;
    grid-template-areas: 'hamburger logo navigation'
                         'menu-items menu-items menu-items';
    grid-template-columns: repeat(3, 1fr);
}

  @media screen and (min-width: 750px) {

    .header-flex.page-width {
        display: grid;
        grid-template-areas: 'logo navigation'
                             'menu-items menu-items';
        grid-template-columns: 1fr, auto;
        grid-template-columns: repeat(2, 1fr);
    }

  }