..category-{{ section.id }} .category-content h1.title-cat {
    color: var(--Inhaven-Coal, #343432);
    font-family: "DM Sans";
    font-size: 3.5rem;
    text-align: center;
}

ul.icon-list {
    display: flex;
    list-style: none;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 1rem;
}

ul.icon-list {
    display: flex;
    list-style: none;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 0;
}

li.icon-item-cat {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

img.icon-img-cat {
    width: 58px;
    height: 58px;
    padding: 0.8rem;
    border-radius: 50%;
}

.icon-img-cat {
    background-color: #fff;
}


@media screen and (min-width: 750px) {
  
  img.icon-img-cat {
      width: 90px;
      height: 90px;
      padding: 1rem;
  }
  
  ul.icon-list {
    justify-content: space-around;
    padding-left: 0;
}
  
}
