.category-{{ section.id }} .category-content h1.title-cat {
    color: #343432;
    font-family: "DM Sans";
    font-size: 2.1rem;
    text-align: center;
}

.category-{{ section.id }} .category-content ul.icon-list {
    display: flex;
    list-style: none;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 1rem;
}

.category-{{ section.id }} .category-content ul.icon-list {
    display: flex;
    list-style: none;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
}

.category-{{ section.id }} .category-content li.icon-item-cat {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.category-{{ section.id }} .category-content img.icon-img-cat {
    width: 58px;
    height: 58px;
    padding: 0.8rem;
    border-radius: 50%;
}

.category-{{ section.id }} .category-content .icon-img-cat {
    background-color: #fff;
}


@media screen and (min-width: 750px) {

  .category-{{ section.id }} .category-content h1.title-cat {
      font-size: 3.5rem;
  }

  .category-{{ section.id }} .category-content img.icon-img-cat {
      width: 90px;
      height: 90px;
      padding: 1rem;
  }
  
  .category-{{ section.id }} .category-content ul.icon-list {
    justify-content: space-around;
    padding-left: 0;
}
  
}
