.banner-img-{{ section.id }} .img_banner {
    /* height: auto; */
    position: relative;
}

img.image_bg {
    width: 100%;
    /* height: auto; */
    transform: rotateY(180deg);
    object-fit: cover;
}

.banner-content.page-width {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
}

.banner-img-{{ section.id }} img.image_bg:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.95));
    opacity: 0;
    height: 100%;
}

.banner-img-{{ section.id }} .img_banner h2.heading {
    font-family: Ogg;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 400;
    /* line-height: 80px; */
}

.section-{{ section.id } .img_banner }a { 
    text-align: center;
    font-family: "DM Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 1.2rem 2rem;
    border-radius: 50px;
    border: none;
    text-decoration: none;
}

@media screen and (min-width: 750px){


.banner-img-{{ section.id }} .img_banner .heading {
    max-width: 80%;
    text-align: left;
}
.banner-img-{{ section.id }} .img_banner h2.heading {
    font-family: Ogg;
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
}

.banner-content.page-width {
    max-width: 70%;
}

}