.value-content.page-width {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    gap: 7rem;
}

h2.heading-value-vp {
    color: #FFF;
    text-align: center;
    font-family: Ogg;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 96px;
}

ul.main-list-vp {
    list-style: none;
    padding-left: 0;
    text-align: center;
    width: 100%;
}

ul {
    list-style: disc;
    padding-left: 0;
    text-align: left;
}

h3.title-vp {
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    margin-top: 1rem;
    margin-bottom: 2.2rem
}

ul.details-list {
    color: #FFF;
    font-family: "DM Sans";
    font-size: 2rem;
    font-style: normal;
    line-height: 24px;
}