div#heading {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

h2.heading-title {
    color: #343432;
    font-size: 4rem;
}

a#link-all {
    color: var(--Sage, #89A09D);
    font-weight: 700;
    text-decoration-line: underline;
}