.cust-text-{{ section.id }} .cust-text-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.cust-text-{{ section.id }} .cust-text-content h2.heading-rt {
    color: #343432;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin: 1rem;
}

.cust-text-{{ section.id }} .cust-text-content p.text-rt {
    color: #343432;
    text-align: center;
    font-family: "DM Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 1rem;
}

.cust-text-{{ section.id }} .cust-text-content .buttons-flex {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 1rem;
    margin-top: 0.4rem;
}


@media screen and (min-width: 750px) {

  .cust-text-{{ section.id }} .cust-text-content {
      max-width: 70%;
      margin: auto;
  }
  
  .cust-text-{{ section.id }} .cust-text-content h2.heading-rt {
      font-size: 3.5rem;
      font-weight: 400;
      line-height: 48px;
      margin: 1.5rem;
  }

  .cust-text-{{ section.id }} .cust-text-content p.text-rt {
      font-size: 2.4rem;
      margin: 1rem;
  }

  .cust-text-{{ section.id }} .cust-text-content .buttons-flex {
    flex-direction: row;
      margin-top: 1rem;
  }
}