.checklist-{{ section.id }} .checklist-content ul.checklist-list {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    list-style: none;    
    padding-top: 3rem;
    padding-left: 0;
}

.checklist-{{ section.id }} .checklist-content h2.title-chk {
    text-align: center;
    font-family: "DM Sans";
    font-size: 3rem;
    margin: 0;
}

.checklist-{{ section.id }} .checklist-content ul.checklist-list li.list-items-chk {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.checklist-{{ section.id }} .checklist-content ul.checklist-list li.list-items-chk span.link-chk a {
    text-decoration: none;
    color: #343432;
}

.checklist-{{ section.id }} .checklist-content ul.checklist-list li.list-items-chk span.link-chk {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.checklist-{{ section.id }} .checklist-content img.block-img-chk {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.checklist-{{ section.id }} .checklist-content .disp-none {
  display: none;
} 

@media screen and (min-width: 750px) {

  .checklist-{{ section.id }} .checklist-content ul.checklist-list li.list-items-chk {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 3px solid #343432;
    gap: 1rem;
}

.checklist-{{ section.id }} .checklist-content ul.checklist-list {
    padding-top: 5rem;
}
  
}

