div#heading {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

h2.heading-title {
    color: #343432;
    font-size: 4rem;
}

a#link-all {
    color: var(--Sage, #89A09D);
    font-weight: 700;
    text-decoration-line: underline;
}

img.block-img-fb {
    width: 250px;
    height: auto;
}

ul.features-list {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

li.features-list-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}