.about-{{ section.id }} .about-content {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 8rem;
}

.about-{{ section.id }} .about-content p {
    color: var(--Inhaven-Coal, #343432);
    font-size: 1.5rem;
    line-height: 18px;
}

.about-{{ section.id }} .about-content h2.heading-ab p {
    color: var(--Inhaven-Coal, #343432);
    font-family: Ogg;
    font-size: 4.8rem;
}

.about-{{ section.id }} .about-content img.side-img-ab {
    width: 700px;
}