.img-text-cust-{{ section.id }} .content-iwt {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    flex-wrap: wrap-reverse;
}

.img-text-cust-{{ section.id }} .content-iwt .text-content-iwt {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
}

.img-text-cust-{{ section.id }} .content-iwt span.caption-iwt {
    color: #fff;
    font-size: 2.5rem;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    text-align: center;
}

.img-text-cust-{{ section.id }} .content-iwt h2.heading-iwt {
    color: #343432;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    margin: 0;
}

.img-text-cust-{{ section.id }} .content-iwt p.text-iwt p {
    color: #343432;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.img-text-cust-{{ section.id }} .content-iwt a.first-button-iwt {
    color: #343432;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    background: #fff;
    padding: 0.8rem 1.6rem;
    border-radius: 50px;
    text-decoration: none;
    border: 1px solid #343432;
    transition: all ease-in-out .2s;
}

.img-text-cust-{{ section.id }} .content-iwt a.second-button-iwt {
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    background: #D8C826;
    padding: 0.8rem 1.6rem;
    border-radius: 50px;
    text-decoration: none;
    border: none;
    transition: all ease-in-out .2s;
}

.img-text-cust-{{ section.id }} .content-iwt a.second-button-iwt:hover{
    background: #f1e002;
}

.img-text-cust-{{ section.id }} .content-iwt a.first-button-iwt:hover{
    background: #f5f5f5;
}

.img-text-cust-{{ section.id }} .content-iwt img.image-iwt {
    width: 100%;
    height: auto;
}

.img-text-cust-{{ section.id }} .content-iwt a.second-button-iwt {
  display: unset;
}

.img-text-cust-{{ section.id }} .content-iwt span#button-mb-flex {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

  @media screen and (min-width: 950px) and (max-width: 749px){
    .img-text-cust-{{ section.id }} .content-iwt img.image-iwt {
      width: 100%;
      height: auto;
    }
  }

  @media screen and (min-width: 750px) {
    
    .img-text-cust-{{ section.id }} .content-iwt {
      flex-wrap: nowrap;
      gap: 5.5rem;    
      padding-top: 5rem;
      padding-bottom: 5rem;
    }

    .img-text-cust-{{ section.id }} .content-iwt img.image-iwt {
      width: 550px;
      height: 360px;
    }

    .img-text-cust-{{ section.id }} .content-iwt h2.heading-iwt {
      font-size: 4rem;
      line-height: 50px;
    }
    
    .img-text-cust-{{ section.id }} .content-iwt p.text-iwt p {
      font-size: 1.8rem;
      line-height: 24px;
    }
    
    .img-text-cust-{{ section.id }} .content-iwt span.caption-iwt {
      font-size: 3rem;
      height: 50px;
      width: 50px;
    }

    .img-text-cust-{{ section.id }} .content-iwt a.second-button-iwt {
      display: none;
    }

    .img-text-cust-{{ section.id }} .content-iwt a.first-button-iwt {
      font-size: 1.8rem;
      padding: 0.8rem 2.5rem;
    }

    .img-text-cust-{{ section.id }} .content-iwt a.second-button-iwt {
      font-size: 1.8rem;
      padding: 0.8rem 3rem;
    }

    .img-text-cust-{{ section.id }} .content-iwt .text-content-iwt {
        gap: 2rem;    
    }
  }