.testimonial-{{ section.id }} .testimonial-flex {
    display: flex;
    flex-wrap: wrap;
}

.testimonial-{{ section.id }} ul.testimonial-content {
    width: 100%;
    list-style: none;
    padding: 2rem;
    margin: 0;
}

.testimonial-{{ section.id }} ul.testimonial-content img.ico-imgage-tm {
    width: 80px;
    height: auto;
    border-radius: 50%;
    grid-area: 'image-icon';
}

.testimonial-{{ section.id }} ul.testimonial-content p {
    color: var(--Inhaven-Coal, #343432);
    font-size: 1.7rem;
    line-height: 32px;
    grid-area: 'text-content';
}

.testimonial-{{ section.id }} ul.testimonial-content h5.user-tm {
    margin: 0;
    color: var(--Inhaven-Coal, #343432);
    text-align: right;
    font-family: "DM Sans";
    font-size: 1.6rem;
    font-weight: 700;
}

.testimonial-{{ section.id }} ul.testimonial-content p.host-tm {
    text-align: right;
    margin: 0;
    color: var(--Inhaven-Coal, #343432);
    font-size: 1.6rem;
    line-height: 24px;
}

.testimonial-{{ section.id }} ul.testimonial-content .user-host {
    grid-area: 'user-host';
}

@media screen and (min-width: 750px) {

  .testimonial-{{ section.id }} ul.testimonial-content img.ico-imgage-tm {
      width: 110px;
  }
  
  .testimonial-{{ section.id }} ul.testimonial-content {
      width: 100%;
      list-style: none;
      padding: 5rem;
  }
  
  .testimonial-{{ section.id }} .testimonial-flex {
      display: flex;
      flex-wrap: nowrap;
  }

  ul.testimonial-content.block-bg-text_A7qCRp {
      padding-left: 10rem;
  }
  
  ul.testimonial-content.block-bg-text_Jm3pdj {
      padding-right: 10rem;
  }

}
