.checklist-{{ section.id }} .checklist-content ul.checklist-list {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.checklist-{{ section.id }} .checklist-content ul.checklist-list li.list-items-chk {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}