.featured-brand-{{ section.id }} .featured-content div#heading {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.featured-brand-{{ section.id }} .featured-content h2.heading-title {
    color: #343432;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.featured-brand-{{ section.id }} .featured-content a#link-all {
    color: #89A09D;
    font-weight: 700;
    text-decoration: underline;
}

.featured-brand-{{ section.id }} .featured-content img.block-img-fb {
    width: 170px;
    height: auto;
    transition: all ease-in-out .2s;
}

.featured-brand-{{ section.id }} .featured-content img.block-img-fb:hover {
    transform: scale(1.02);
}


.featured-brand-{{ section.id }} .featured-content ul.features-list {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding-left: 0;
    gap: 3rem;
}

.featured-brand-{{ section.id }} .featured-content li.features-list-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    padding-right: 2rem;
}

.featured-brand-{{ section.id }} .featured-content a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.featured-brand-{{ section.id }} .featured-content h4.title-fb {
    margin-bottom: 0;    
    margin-top: 1rem;
    color: #343432;
    font-family: "DM Sans";
    font-size: 2.1rem;
    line-height: 36px;
}

.featured-brand-{{ section.id }} .featured-content p {
    color: #10A894;
    font-family: "DM Sans";
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0.1rem 0;
}


@media screen and (min-width: 750px) {

  .featured-brand-{{ section.id }} .featured-content img.block-img-fb {
    width: 240px;
    height: auto;
}

  .featured-brand-{{ section.id }} .featured-content h2.heading-title {
      font-size: 4.8rem;
      line-height: 72px;
  }
  
  .featured-brand-{{ section.id }} .featured-content ul.features-list {
      flex-direction: row;
      gap: 1rem;
  }
  
  .featured-brand-{{ section.id }} .featured-content h4.title-fb {
      font-size: 2.3rem;
      line-height: 36px;
  }
  
  .featured-brand-{{ section.id }} .featured-content p {
      font-size: 1.3rem;
  }

}