.featured-brand-{{ section.id }} .featured-content div#heading {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.featured-brand-{{ section.id }} .featured-content h2.heading-title {
    color: #343432;
    font-size: 4rem;
}

.featured-brand-{{ section.id }} .featured-content a#link-all {
    color: var(--Sage, #89A09D);
    font-weight: 700;
    text-decoration-line: underline;
}

.featured-brand-{{ section.id }} .featured-content img.block-img-fb {
    width: 200px;
    height: auto;
}

.featured-brand-{{ section.id }} .featured-content ul.features-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding-left: 0;
    gap: 3rem;
}

.featured-brand-{{ section.id }} .featured-content li.features-list-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}

.featured-brand-{{ section.id }} .featured-content a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.featured-brand-{{ section.id }} .featured-content h4.title-fb {
    margin-bottom: 0;    
    margin-top: 1.2rem;
    color: #343432;
    font-family: "DM Sans";
    font-size: 2rem;
    line-height: 36px;
}

.featured-brand-{{ section.id }} .featured-content p.text-fb {
    margin: 0;
    font-weight: 700;
    line-height: normal;
}


@media screen and (min-width: 750px) {

  .featured-brand-{{ section.id }} .featured-content img.block-img-fb {
    width: 250px;
    height: auto;
}

.featured-brand-{{ section.id }} .featured-content div#heading {
    flex-direction: row;  
}

.featured-brand-{{ section.id }} .featured-content ul.features-list {
    flex-direction: row;
    gap: 1rem;
}

}