.featured-product-{{ section.id }} .featured-product-content div#heading {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.featured-product-{{ section.id }} .featured-product-content h2.heading-title {
    color: #343432;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.featured-product-{{ section.id }} .featured-product-content a#link-all {
    color: #89A09D;
    font-weight: 700;
    text-decoration: underline;
}

.featured-product-{{ section.id }} .featured-product-content img.block-img-fp {
    width: 200px;
    height: auto;
    transition: all ease-in-out .2s;
}

.featured-product-{{ section.id }} .featured-product-content img.block-img-fp:hover {
    opacity: .8;
}

.featured-product-{{ section.id }} .featured-product-content ul.features-list {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: baseline;
    list-style: none;
    padding-left: 0;
    gap: 3rem;
}

.featured-product-{{ section.id }} .featured-product-content li.features-list-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    padding-right: 2rem;
}

.featured-product-{{ section.id }} .featured-product-content a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}


.featured-product-{{ section.id }} .featured-product-content h4.title-fp {
    color: #343432;
    font-family: "DM Sans";
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.featured-product-{{ section.id }} .featured-product-content p.text-fp {
    color: #343432;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.featured-product-{{ section.id }} .featured-product-content p.compare-price-fp {
    color: #B1B4AE;
    font-family: "DM Sans";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.featured-product-{{ section.id }} .featured-product-content p.price-fp {
    color: #343432;
    font-size: 1.4rem;
    line-height: 13.514px;
}

.featured-product-{{ section.id }} .featured-product-content p.discount-fp {
    color: #10A894;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 11px;
}

.featured-product-{{ section.id }} .featured-product-content p.discount-fp {
    font-size: 1.4rem;
    line-height: 16px;
}


@media screen and (min-width: 750px) {

  .featured-product-{{ section.id }} .featured-product-content img.block-img-fp {
    width: 250px;
    height: 270px;
}

  .featured-product-{{ section.id }} .featured-product-content h2.heading-title {
      font-size: 4.8rem;
      line-height: 72px;
  }
  
  .featured-product-{{ section.id }} .featured-product-content ul.features-list {
      flex-direction: row;
      align-items: baseline;
      gap: 1rem;
  }

  .featured-product-{{ section.id }} .featured-product-content h4.title-fp {
      font-size: 1.6rem;
      line-height: 24px;
  }
  
  .featured-product-{{ section.id }} .featured-product-content p.text-fp {
      font-size: 1.3rem;
      line-height: 10px;
      margin: 1 0;
  }
  
  .featured-product-{{ section.id }} .featured-product-content p.compare-price-fp {
      font-size: 1.6rem;
      line-height: 24px;
      margin: 0.5rem 0;
  }
  
  .featured-product-{{ section.id }} .featured-product-content p.price-fp {
      font-size: 1.7rem;
      line-height: 16.514px;
      margin: 1rem 0;
  }
  
  .featured-product-{{ section.id }} .featured-product-content p.discount-fp {
      font-size: 1.4rem;
      line-height: 16px;
      margin: 0.5rem 0 1rem 0;
  }
}