.about-{{ section.id }} .about-content {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-{{ section.id }} .about-content p {
    color: #343432;
    font-size: 1.5rem;
    line-height: 18px;
}

.about-{{ section.id }} .about-content h2.heading-ab p {
    color: #343432;
    font-family: Ogg;
    line-height: normal;
    font-size: 3rem;
    margin: 1rem 0;
}

.about-{{ section.id }} .about-content img.side-img-ab {
    width: 100%;
    padding-left: 5rem;
    height: auto;
}

.about-{{ section.id }} .about-content .text-content {
    padding: 2rem;
}


@media screen and (min-width: 750px) {

  .about-{{ section.id }} .about-content img.side-img-ab {
      width: 650px;
      padding-left: 0;
  }
  
  .about-{{ section.id }} .about-content {
      flex-wrap: nowrap;
      margin-left: 8rem;
  }
  
  .about-{{ section.id }} .about-content .text-content {
      padding: 0;
  }
  
  .about-{{ section.id }} .about-content h2.heading-ab p {
      font-size: 4.8rem;
  }

}
