.category-{{ section.id }} .category-content h1.title-cat {
    color: #343432;
    font-family: "DM Sans";
    font-size: 2.1rem;
    text-align: center;
}

.category-{{ section.id }} .category-content ul.icon-list {
    display: flex;
    list-style: none;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 2rem;
}

.category-{{ section.id }} .category-content ul.icon-list {
    display: flex;
    list-style: none;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
}

.category-{{ section.id }} .category-content li.icon-item-cat {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.category-{{ section.id }} .category-content img.icon-img-cat {
    width: 56px;
    height: 56px;
    padding: 0.8rem;
    border-radius: 50%;
}

.category-{{ section.id }} .category-content .icon-img-cat {
    background-color: #fff;
}

.category-{{ section.id }} .category-content a.text-cat {
    color: var(--Inhaven-Coal, #343432);
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    text-decoration: none;
    margin-top: 1rem;
}

.category-{{ section.id }} .category-content a.text-cat:hover {
    text-decoration: underline;
}

@media screen and (min-width: 750px) {

  .category-{{ section.id }} .category-content h1.title-cat {
      font-size: 3.5rem;
  }

  .category-{{ section.id }} .category-content img.icon-img-cat {
      width: 100px;
      height: 100px;
      padding: 1rem;
  }
  
  .category-{{ section.id }} .category-content ul.icon-list {
    justify-content: space-around;
    padding-left: 0;
  }
  
  .category-{{ section.id }} .category-content a.text-cat {
      color: var(--Inhaven-Coal, #343432);
      margin-top: 2rem;
      font-size: 2.1rem;
  }
  
}
